/* CocktailModal.css */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    z-index: 1000; /* Ensure it's above other content */
  }.modal-content {
    background: white;
    padding: 20px 15px;
    border-radius: 5px;
    max-width: 50%; /* Further reduced width */
    max-height: 90vh; /* Further reduced height */
    overflow: auto; /* Add scrollbars if content is too large */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-out;
  }
  
  .title_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .cocktail_title {
    font-size: 1.5em;
    margin-bottom: 20px;
    margin-left: 10px;
  }
  
  .modal-content img {
    max-width: 90%; /* Further reduced image size */
    height: 250px;
    width: 250px;
    display: block;
    margin: 0 auto;
  }

  .modal_container {
    display: flex;
  }
  
  @media (max-width: 600px) {
    .modal-content {
      max-width: 80%; /* Adjust for very small screens */
    }
  }
  
  @media (max-height: 500px) {
    .modal-content {
      max-height: 90vh; /* Adjust for small height screens */
    }
  }