


.cocktail_card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin: 16px;
    width: 15%;
  }
  
  .cocktail_image {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }
  
  .cocktail_info {
    padding: 1em 0.5em;
  }

  .cocktail_info p {
    font-size: 0.8em;
  }
  