/* Header.css */

.header_container {
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
}

.header_profile_search_container {
    width: 30%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .search-container {
    display: flex;
    align-items: center;
  }
  
  .search-button {
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .input,
  .search-button {
    padding: 0.5rem;
  }
  
  .input:focus,
  .search-button:focus {
    outline: none;
  }
  
  .divider {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.5), transparent);
    margin: 1rem 0;
  }
  
  .login-container {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .profile-icon {
    margin-right: 0.5rem;
  }
  
  .login-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  